body.home.awards {
  @apply bg-blue-200;
}

.awards-hero {
  @screen lg {
    height: 748px;
  }
}

.awards-hero__text {
  background-color: rgba(28, 43, 90, 0.7);
}

.bg-awards-blobs {
  background: url("../images/backgrounds/awards-blobs.svg") no-repeat right center;
  background-size: cover;
}

.bg-awards {
  background: url("../images/backgrounds/awards-bg.svg") no-repeat right center;
  background-size: cover;
}

.bg-awards-bottom {
  background: url("../images/backgrounds/awards-bottom-bg.svg") repeat-x center bottom,
    linear-gradient(180deg, rgba(28, 43, 90, 0) 0%, #0d1530 100%);
  background-size: contain;
  margin-bottom: -80px;
}

.awards__navigation {
  position: sticky;
  top: 0;
  z-index: 100;
}

.awards-home__content {
  @screen md {
    margin-top: -100px;
  }

  @screen lg {
    margin-top: -320px;
  }
}

.awards__navigation__button {
  @apply rounded-t text-white bg-blue-200 border-b-2 border-blue-700 font-semibold items-center text-sm px-2 py-2;

  @screen md {
    @apply px-5 text-base;
  }

  &.active,
  &:hover,
  &:focus {
    @apply bg-blue-300 text-yellow-500 border-yellow-500;
  }
}
