body.home.awards {
  @apply bg-blue-200;
}

.awards-hero {
  height: 748px;
}

.awards-hero__text {
  background-color: rgba(28, 43, 90, 0.7);
}

.bg-awards-blobs {
  background: url("../images/backgrounds/awards-blobs.svg") no-repeat right center;
  background-size: cover;
}

.bg-awards {
  background: url("../images/backgrounds/awards-bg.svg") no-repeat right center;
  background-size: cover;
}

.awards__navigation {
  position: sticky;
  top: 0;
  z-index: 100;
}

.awards-home__content {
  margin-top: -100px;

  @screen lg {
    margin-top: -320px;
  }
}

.awards__navigation__button {
  @apply rounded-t text-white bg-blue-200 py-2 px-5 border-b-2 border-blue-750 font-semibold items-center;

  &.active,
  &:hover,
  &:focus {
    @apply bg-blue-300 text-yellow-500 border-yellow-500;
  }
}
