.awards-hero {
  height: 748px;
}

.awards-hero__text {
  background-color: rgba(28, 43, 90, 0.7);
}

.bg-awards-blobs {
  background: url("../images/backgrounds/awards-blobs.svg") no-repeat right center;
  background-size: cover;
}
