.btn {
  @apply font-bold px-4 py-3 bg-latam-orange inline-flex text-white;

  &:hover {
    @apply bg-latam-orange-cream;
  }
}

.btn.oeg {
  @apply bg-red-600;

  background-image: none;
  transition: background-color 0.25s;

  &:hover {
    background-color: lighten(#ff5547, 10%);
  }
}

.btn.oeg-inverted {
  @apply bg-white text-black-200 font-normal;

  &:hover {
    @apply bg-gray-900;
  }
}

.btn.simple {
  @apply font-bold px-4 py-3 inline-flex text-black-200;

  background: none;
  border: 2px solid theme("colors.primary");
  position: relative;

  &:hover {
    @apply bg-black-300;
  }
}

.wp-block-button__link {
  @extend .btn;

  background-image: none;
  border-radius: 0;
}

.prev-next-post a {
  @extend .btn;
  @extend .oeg-inverted;
  position: relative;
}

.prev-next-post.next a {
  padding-left: 16px;
  padding-right: 36px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    height: 16px;
    width: 16px;
    background-image: url("../images/icons/arrow-right.svg");
  }
}

.prev-next-post.prev a {
  padding-right: 16px;
  padding-left: 36px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    height: 16px;
    width: 16px;
    background-image: url("../images/icons/arrow-left.svg");
  }
}
