.btn {
  @apply font-bold p-2 bg-latam-orange inline-flex text-white;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.73);

  &:hover {
    @apply bg-latam-orange-cream;
  }
}

.btn.oeg {
  @apply bg-int-red;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);

  &:hover {
    background-color: lighten(#ff5547, 10%);
  }
}

.btn.oeg-inverted {
  @apply bg-white text-black font-normal;

  text-shadow: none;

  &:hover {
    @apply bg-gray-300;
  }
}

.wp-block-button__link {
  @extend .btn;

  background-image: none;
  border-radius: 0;
}

.prev-next-post a {
  @apply font-bold p-2 inline-flex;

  border: 2px solid theme("colors.primary");
  position: relative;
}

.prev-next-post.next a {
  padding-left: 16px;
  padding-right: 36px;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    height: 16px;
    width: 16px;
    background-image: url("../images/icons/arrow-right.svg");
  }
}

.prev-next-post.prev a {
  padding-right: 16px;
  padding-left: 36px;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    height: 16px;
    width: 16px;
    background-image: url("../images/icons/arrow-left.svg");
  }
}
