.btn {
  @apply font-bold px-4 py-3 bg-latam-orange inline-flex text-white;

  &:hover {
    @apply bg-latam-orange-cream;
  }
}

.btn.oeg {
  @apply bg-red-600;

  background-image: none;
  transition: background-color 0.25s;

  &:hover {
    background-color: lighten(#ff5547, 10%);
  }

  &[disabled] {
    @apply cursor-not-allowed;
  }
}

.btn.oeg-inverted {
  @apply bg-white text-black-200 font-normal;

  &:hover {
    @apply bg-gray-900;
  }

  &[disabled] {
    @apply cursor-not-allowed;
  }
}

.btn.oeg-green {
  @apply bg-white text-black-200 font-normal bg-gray-900;

  &:hover,
  &:active {
    @apply bg-turq-900;
  }
}

.btn.simple {
  @apply font-bold px-4 py-3 inline-flex text-black-200 border-none bg-gray-900;

  position: relative;
  background-image: none;

  &:hover {
    @apply bg-white;
  }
}

.wp-block-button__link {
  @extend .btn;

  background-image: none;
  border-radius: 0;
}

.prev-next-post {
  max-width: 50%;
}

.prev-next-post a {
  @extend .btn;
  @extend .oeg-green;

  @apply relative flex-col w-full h-full;
}

.prev-next-post .title {
  display: block;
}
