#members-map {
  height: 450px;
  width: 100%;
}

#members-map-hawaii {
  height: 138px;
  width: 100%;

  @screen md {
    display: flex;
  }
}

.members-counter {
  background-color: #cad2d3;
  padding-top: 36px;

  @screen md {
    padding-top: 170px;
  }
}

.member-logo {
  position: relative;
  display: block;
  padding: 5px;
  border: 1px solid theme("colors.gray-500");
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
}

.member-name {
  color: $black;
  line-height: 20px;
}

.member-readmore {
  display: none;
}

.members-single-member:hover {
  .member-logo::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 2, 5, 0.5);
  }

  .member-readmore {
    position: absolute;
    display: block;
    bottom: -70px;
    left: calc(50% - 60px);
    z-index: 20;

    background-color: #0b42a8;
    border-radius: 100%;
    width: 122px;
    height: 122px;

    color: $white;
  }

  .member-readmore > span {
    position: absolute;
    bottom: 75px;
    width: 100px;
    left: calc(50% - 50px);
    font-size: 14px;
  }
}
