.contentheader-strip {
  display: flex;
  position: relative;
  min-height: 336px;
  background-color: $main-darker;
  background-size: cover;
  background-position: center center;

  body.latam & {
    @screen lg {
      min-height: 500px;
    }
  }
}

.contentheader-strip.with-bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

body.latam .contentheader-strip::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-image: url("../images/patterns/pattern-pointy.svg"),
    url("../images/patterns/pattern-circles.svg");
  background-position: center top 12px, left bottom 20px;
  background-repeat: repeat-x;
}

.contentheader-strip__content {
  display: inline-block;

  @screen lg {
    @apply px-6 py-4;
  }

  // theme("colors.main-darker")
  background-color: rgba(31, 70, 122, 0.8);

  body.latam & {
    @apply px-2 py-4;

    background-color: rgba(31, 70, 122, 0.5);
  }

  .contentheader-strip.with-bg-image & {
    background-color: transparent;
  }

  body.search & {
    min-width: 80%;
  }
}

.contentheader-sublanding__content {
  display: inline-block;
  background-color: $white;
  margin: 50px auto;

  @screen lg {
    margin: auto;
    padding-top: 52px;
  }
}

.contentheader-sublanding__nocontent {
  background-color: transparent;
}

.contentheader-strip__h1 {
  @extend .h1;

  @apply mb-6;

  body.latam & {
    @apply mb-0;
  }
}

.contentheader-sublanding__h1 {
  @extend .h2;

  @apply inline-block bg-latam-orange text-light px-4 py-2 mb-0;

  @screen lg {
    position: absolute;
    bottom: calc(100% - 35px);
    left: -6px;
    max-width: 100%;
  }

  .contentheader-sublanding__nocontent & {
    max-width: none;
    position: initial;
  }
}
