.content-excerpt {
  &:active {
    @apply bg-blue-500 text-gray-900;
  }
}

.content-excerpt__shadow {
  filter: drop-shadow(5px 5px 5px #ccc);
  background-clip: content-box;
}

.content-excerpt__categories {
  background-image: none;

  @apply font-bold uppercase tracking-widest text-sm;
}

.content-excerpt .entry-title a {
  background-image: none;

  @apply text-2xl;

  &:hover {
    background-image: linear-gradient(to bottom, transparent calc(100% - 4px), $latam-orange-cream 4px);
    background-position: right 50% bottom 0;
  }
}

.content-excerpt .entry-summary * {
  @apply text-base font-serif;
}

.content-excerpt .entry-meta * {
  @apply text-base;
}

.content-featured .entry-title a {
  @apply text-lg leading-tight;
}

.content-excerpt:hover .hover-link {
  background-image: linear-gradient(to bottom, transparent calc(100% - 4px), $int-turq 4px);
  background-position: right 50% bottom 0;
}

.content-excerpt:active .hover-link {
  background-image: none;
}
