footer {
  padding-top: 26px;
  padding-bottom: 50px;
  margin-top: 80px;

  @screen lg {
    padding-top: 0;
    padding-bottom: 42px;
  }
}

footer::before {
  content: "";
  display: block;
  position: relative;
  top: -150px;
  left: 0;
  right: 0;

  margin: 0 75px;
  height: 75px;
  width: calc(100% - 140px);

  background-repeat: repeat-x;
  background-position: left bottom;

  @screen lg {
    top: -120px;
  }
}

a.h4 {
  color: theme("colors.blue-900");
}

body.latam footer::before {
  background-image: url("../images/patterns/pattern-arrows.svg");
}

.oeg-logo-shadow {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}
