.image-grid {
  white-space: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Chrome Canary */
  scroll-snap-type: mandatory; /* Firefox */
  -ms-scroll-snap-type: mandatory; /* IE/Edge */
  -webkit-scroll-snap-type: mandatory; /* Safari */
  -webkit-scroll-snap-destination: 0% 0%;
  -webkit-overflow-scrolling: touch; /* important for iOS */
}

.image-grid__item {
  position: relative;
  scroll-snap-align: start; /* latest (Chrome 69+) */
  scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
  -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */
}

.image-grid__item__image {
  height: 33%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
}

.image-grid__item__title {
  @apply absolute font-bold text-2xl px-4 pt-2 pb-4;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.image-grid__item__attribution {
  @apply absolute text-3xs text-gray3 px-1 py-2 italic;

  top: 16px;
  right: 0;
  background-color: rgba(77, 77, 77, 0.6);
}
