body.home .latam-home-gallery .image-grid {
  margin-top: -75px;
}

body.home .latam-home-gallery::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 70px;
  height: 75px;
  width: calc(100% - 140px);

  background-image: url("../images/patterns/pattern-arrows.svg");
  background-repeat: repeat-x;
  background-position: left bottom;
}

/* Admin */
.acf-field-latam-home-gallery-items-image {
  width: 200px;
}
