.nav-logo {
  height: 46px;
  width: auto;

  @screen md {
    height: 49px;
  }
}

.menu-item {
  @apply mr-4 pl-2 pr-3 relative flex items-center;

  position: relative;
  height: 34px;

  &:hover,
  &:focus {
    background-color: theme("colors.menuHover");
  }
}

.menu-item.has-children {
  @apply pr-6;

  &::after {
    content: "+";
    position: absolute;
    right: 4px;
    top: 4px;
  }
}

.menu-item.active {
  border-bottom: 2px solid theme("colors.primary");
}

.menu-item.has-children.is-open {
  &::after {
    content: "-";
  }
}

.menu-item.is-open .sub-menu {
  @apply absolute flex left-0 w-56 bg-white flex-col justify-center leading-loose z-50;
  @apply shadow-md border border-light;

  top: 34px;
}

.menu-item-child a {
  @apply block pl-4 pr-8 flex items-center leading-relaxed w-full;
  min-height: 3em;

  &:hover {
    background-color: theme("colors.menuHover");
  }
}

.menu-item__icon {
  width: 18px;
  height: auto;
}

.menu-item-search {
  padding-right: 8px;
}

.menu-open .toggle-menu {
  background-color: theme("colors.menuHover");
}

.toggle-menu {
  height: 80px;
  width: 80px;
}

.toggle-menu svg {
  #menu-path {
    fill: theme("colors.primary");
  }
}

.banner {
  @apply relative mb-2;

  @screen lg {
    @apply mb-0;
  }
}

.banner > .container {
  padding-right: 0;

  @screen lg {
    padding-right: 1rem;
  }
}

.menu-open {
  .banner .nav {
    background-color: theme("colors.menuHover");

    @apply flex flex-wrap px-6 pt-4 pb-8;
  }

  .banner .nav a {
    @apply inline-block pl-2 pr-4 py-2 border-none text-black2 no-underline font-sans text-sm;
  }

  .banner .nav > .menu-item {
    @apply relative flex items-start h-auto cursor-pointer bg-white mr-0;
  }

  .banner .nav .sub-menu {
    top: 96px;

    @apply hidden absolute left-0 w-48 bg-white flex-col justify-center leading-loose z-20;
  }

  .banner .nav :last-child .sub-menu {
    top: 97px;
    left: auto;
    right: 0;
  }

  .banner .nav > .menu-item.is-open .sub-menu {
    @apply flex border-none;
  }

  .banner .nav .sub-menu a {
    @apply text-sm;
  }

  .menu-item.has-children::after {
    top: 12px;
    right: 12px;
  }

  .nav-primary {
    top: 80px;
    left: -1em;
    right: 0;
    z-index: 200;

    @apply block absolute bg-white px-0;
  }

  .menu-item {
    @apply w-full h-auto flex-col items-start mb-2;
  }

  .menu-item > a {
    line-height: 30px;

    @apply h-10;
  }

  .menu-item.is-open .sub-menu {
    top: auto;
    position: unset;
    z-index: 100;

    @apply flex w-full pl-2 shadow-none;
  }

  .menu-item.is-open .sub-menu .menu-item {
    @apply w-full;
  }

  .banner .nav > .menu-item-search {
    display: none;
  }

  .menu-item-search-mobile {
    position: relative;
    width: 100%;
    padding-right: 28px;

    @screen lg {
      display: inline-block;
    }

    &::after {
      content: "";
      position: absolute;

      top: 12px;
      right: 7px;
      width: 15px;
      height: 15px;

      background-image: url("../images/icons/magnify.svg");
      background-size: cover;
    }

    input {
      width: 100%;
    }

    input::-webkit-input-placeholder,
    input::-moz-placeholder {
      font-size: 14px;
    }
  }
}
