.oeg-featured {
  background-size: cover;
  min-height: 240px;

  @screen md {
    @apply rounded shadow-md;
  }

  &:hover {
    @apply shadow-lg;

    .oeg-featured__title {
      @apply rounded-r border-t-2 border-r-2 border-b-2 border-blue-600 shadow-xl;
    }
  }

  &:active {
    .oeg-featured__title {
      @apply bg-blue-500 text-blue-900;
    }
  }
}

.oeg-featured__title {
  @apply inline-block px-4 py-2 bg-white text-blue-200 mb-6 text-xl leading-tight rounded-r-sm shadow-md font-bold;
  @apply border-t-2 border-r-2 border-b-2 border-blue-900;
  max-width: 90%;
}

.oeg-featured-1 {
  @screen md {
    min-height: 400px;
  }
}

.oeg-spotlight::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;

  background-color: theme("colors.blue-400");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 230px;

  @screen md {
    top: -30px;
    height: 100%;
    background-image: url("../images/backgrounds/oeg-spotlight.svg");
    background-color: transparent;
  }

  @screen lg {
    top: -150px;
    height: 200%;
  }

  @screen xl {
    top: -300px;
    height: 150%;
  }
}

.oeg-spotlight__container::before {
  position: absolute;
  z-index: -1;
  content: "";
  border-radius: 100%;
  background-color: theme("colors.yellow-500");
  left: -40px;
  top: -110px;
  height: 105px;
  width: 105px;

  @screen md {
    top: -180px;
    left: -70px;
    height: 171px;
    width: 171px;
  }

  @screen lg {
    left: -100px;
    top: -180px;
  }
}

.oeg-spotlight__item:last-child {
  position: relative;
}

.oeg-spotlight__triangle::before {
  content: "";
  width: 229px;
  height: 204px;

  position: absolute;
  bottom: 10px;
  right: -40px;
  z-index: -1;
  transform: rotate(86deg);

  background-image: url("../images/icons/oeg-triangle.svg");
  background-repeat: no-repeat;

  @screen md {
    bottom: 10px;
    right: -55px;
    transform: none;
  }

  @screen xl {
    bottom: 0;
    right: -75px;
  }
}

.oeg-spotlight__item {
  @apply max-w-full;

  &:hover {
    @apply shadow-lg;

    .oeg-spotlight__image {
      opacity: 0.8;
    }

    h2 {
      color: theme("colors.blue-600");
    }
  }

  &:active {
    outline: 2px solid theme("colors.blue-800");
  }
}

.oeg-spotlight__image {
  background-size: cover;
  background-position: center center;
  height: 200px;
}
