.oeg-featured {
  background-size: cover;
  min-height: 240px;
}

.oeg-featured__title {
  @apply inline-block mb-2 p-1 pr-4 bg-white font-bold;

  max-width: 90%;
}

.oeg-featured-1 {
  @screen md {
    min-height: 400px;

    .oeg-featured__title {
      @apply mb-4;
      font-size: 22px;
    }
  }
}

.oeg-spotlight::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;

  background-color: theme("colors.blue-400");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 230px;

  @screen md {
    top: -30px;
    height: 100%;
    background-image: url("../images/backgrounds/oeg-spotlight.svg");
    background-color: transparent;
  }

  @screen lg {
    top: -180px;
  }
}

.oeg-spotlight__container::before {
    position: absolute;
    z-index: -1;
    content: "";
    border-radius: 100%;
    background-color: theme("colors.yellow-500");
    left: -30px;
    top: -70px;
    height: 105px;
    width: 105px;

    @screen md {
      top: -120px;
      height: 171px;
      width: 171px;
    }

    @screen lg {
      left: -80px;
      top: -220px;
    }
}

.oeg-spotlight__item:last-child {
  position: relative;
}

.oeg-spotlight__item:last-child::after {
  content: "";
  width: 229px;
  height: 204px;

  position: absolute;
  bottom: -40px;
  right: -40px;
  z-index: -1;
  transform: rotate(86deg);

  background-image: url("../images/icons/oeg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @screen md {
    bottom: -80px;
    right: 90px;
    transform: none;
  }

  @screen lg {
    bottom: -100px;
    right: -75px;
  }
}

.oeg-spotlight__item {
  @apply block bg-white text-black-300;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
}

.oeg-spotlight__image {
  background-size: cover;
  background-position: center center;
  height: 200px;
}
