$highlight-bg-image: url(../images/backgrounds/people-pic.jpg);

.oeg-highlight {
  background-color: theme("colors.blue-600");
  background-image: $highlight-bg-image;
  background-size: cover;

  @screen lg {
    background-image: none;
  }
}

.oeg-highlight__image {
  background-size: cover;
  background-image: $highlight-bg-image;
}

.oeg-highlight__content {
  height: 100%;
  padding: 50px 0 60px;
  min-height: 300px;

  @apply text-white font-sans leading-relaxed;

  @screen lg {
    min-height: 453px;
  }
}
