.header-strip {
  background-color: $main-darker;
  background-image: url("../images/patterns/pattern-pointy.svg"),
    url("../images/patterns/pattern-circles.svg");
  background-position: center top 12px, left bottom 20px;
  background-repeat: repeat-x;

  min-height: 205px;
}

.header-strip-circles {
  margin: 0 10px 105px;
  height: 100px;

  @screen md {
    margin: 0 70px 105px;
  }
}
