.text-stroke {
  -webkit-text-stroke: 1px;
}

.hover\:text-stroke:hover {
  -webkit-text-stroke-width: 1px;
}

.mb-0\! {
  margin-bottom: 0 !important;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba($color: #000, $alpha: 0.5);
}
