$white: #fff;
$black: #000;
$gray4: theme("colors.gray-900");

$int-turq: theme("colors.turq-500");
$latam-orange: #ff922d;
$latam-orange-cream: #ffc794;

$main-darker: theme("colors.blue-200");

$main-link: rgb(59, 128, 247); //blue-600
