.text-stroke {
  -webkit-text-stroke: 1px;
}

.hover\:text-stroke:hover {
  -webkit-text-stroke-width: 1px;
}

.mb-0\! {
  margin-bottom: 0 !important;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba($color: #000, $alpha: 0.5);
}

/* Wordpress utilities */

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
